*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

p.redred{
    color:#4D0000;
    font-size: 200%;
    text-align: left;
    text-indent:2em；
}

.blueblue{
     color:#003060;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}