*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

p.redred{
    color:#FF4040;
    font-size: 200%;
    text-align: left;
    text-indent:4emï¼›
}

.blueblue{
     color:	#6692EF;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}